body {
  margin: 0;
  background: rgb(191, 188, 188);
  text-align: center;
}

div {
  margin-top: 150px;
  padding: 25px 0;
  background-color: rgb(191, 188, 188);
  transition: 1s linear;
}

div:hover {
  background: radial-gradient(rgb(153, 190, 184), rgb(191, 188, 188));
}

h1 {
  font-family: 'Rock Salt', cursive;
  color: blue
  text-transform: uppercase;
  text-decoration: underline; 
  /* I don't know why I'm getting this underlined as an error when code works */
}

input,
button {
  margin: 0 auto;
  margin-bottom: 10px;
  border-style: hidden;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 5px 3px;
  background-color: rgb(184, 147, 218);
}

input {
  display: block;
}

button:hover {
  box-shadow: 0px 5px 5px #888888;
  padding: 5px;
  background-position: 100% 0;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  color: blue;
  }
  

ul {
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(148, 92, 200);
}

li {
  margin-right: 30px;
}